.story_image {
  border: dotted;
  width: 50%;
  height: 300px;
}

.story_tag {
  font-size: 15px;
}

.card {
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 20px !important;
}

#story_title {
  font-size: 50px;
  margin-bottom: 0;
}

#story_authors {
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 0;
}

#story_series {
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 0;
}

